# Base de datos PostgreSQL
POSTGRES_DB=invernadero_db
POSTGRES_USER=invernadero_user
POSTGRES_PASSWORD=invernadero_pass

# pgAdmin (Panel de control de BD)
PGADMIN_DEFAULT_EMAIL=admin@invernadero.com
PGADMIN_DEFAULT_PASSWORD=admin
